.cardGroup {
    display: flex;

    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
}

.cardGroup__card {
    flex: 1 1 100%;

    border: none;
    border-radius: 0;
}

.cardGroup__card {
    border-left: 1px solid #D7DBDD;
}

.cardGroup__cardDescription {
    flex: 1;
}
